<div class="container">
  <header class="dashboard-header">
    <div class="header__btn-box">
      <button class="header__nav-btn"></button>
    </div>
    <p class="header__heading">Faculty of Computing</p>

    <nav class="user-nav">
      <div class="user-nav__user">
        <svg>
          <use xlink:href="../../../assets/sprite.svg#icon-user"></use>
        </svg>
        <span>Emmanuel Adedire</span>
      </div>
    </nav>
  </header>
  <div class="side-bar">
    <div class="side-bar__logo-box">
      <img src="../../../assets/img/AFITlogo.png" alt="Logo" class="side-bar__logo-box--img">
    </div>
    <nav class="side-nav u-margin-bottom-big">
      <div class="side-bar__content">
        <ul class="side-bar__list">
          <li class="side-bar__item side-bar__item--active">
            <a routerLink="/student/dashboard/home" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-home"></use>
              </svg>
              <span>Home</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-news"></use>
              </svg>
              <span>About Us</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a routerLink="/student/dashboard/inbox" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-install"></use>
              </svg>
              <span>Inbox</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-credit"></use>
              </svg>
              <span>Financial Aid</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="side-bar__content">
        <p class="side-bar__heading">My Assignment</p>
        <ul class="side-bar__list">
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Active Assignments</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Past Assignments</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>History</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="side-bar__content">
        <p class="side-bar__heading"> Academic Result</p>
        <ul class="side-bar__list">
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Test</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Current Semester</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>All Results</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="side-bar__content">
        <p class="side-bar__heading">Academic Attendance</p>
        <ul class="side-bar__list">
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Submit Attendance</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Course Attendance</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Semester Attendance</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="side-bar__content">
        <p class="side-bar__heading">Academic Transcript</p>
        <ul class="side-bar__list">
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Apply</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Un-official Transcript</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="side-bar__content">
        <p class="side-bar__heading">Course Profile</p>
        <ul class="side-bar__list">
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Courses</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Course Catalog</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="side-bar__content">
        <p class="side-bar__heading">Advising and Academic Support</p>
        <ul class="side-bar__list">
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Request a counsel</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Counseling History</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="side-bar__content">
        <p class="side-bar__heading">Support</p>
        <ul class="side-bar__list">
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Open a ticket</span>
            </a>
          </li>
          <li class="side-bar__item">
            <a href="#" class="side-bar__link">
              <svg class="side-bar__icon">
                <use xlink:href="../../../assets/sprite.svg#icon-chevron-right"></use>
              </svg>
              <span>Ticket History</span>
            </a>
          </li>
        </ul>
      </div>

    </nav>
  </div>
  <main class="content">
    <div class="content__container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
