<div class="container">
  <div class="login">
    <img src="../../../../assets/img/AFITlogo.png" alt="Logo " class="login__logo">
    <h2 class="heading-3 heading-3--secondary">Students' Sign In</h2>
    <form action="#" class="form u-margin-bottom-small">
      <div class="form__group">
        <input type="text" class="form__input" placeholder="Staff No" id="staff_no" required>
        <label for="staff_no" class="form__label">Staff No</label>
      </div>
      <div class="form__group">
        <input type="password" class="form__input" placeholder="Password" id="password" required>
        <label for="password" class="form__label">Password</label>
      </div>
      <div class="form__group form__group__btn">
        <a class="form__btn form__btn--secondary">SIGN IN</a>
        <a routerLink= "/" class="form__btn form__btn--dark">HOME</a>
      </div>
      <a href="#" class="footer__link">Forgot Password?</a>
    </form>
    <div class="copyright copyright--dark login__copyright">
      <p class="copyright__item">Copyright &copy; 2022 by <a href="#" class="footer__link">Emmanuel Adedire</a> &
        FC-Team. All rights reserved.</p>
    </div>
  </div>
</div>
