<div class="container">
  <header class="header">
    <div class="header__logo-box">
      <img src="../../assets/img/AFITlogo.png" alt="Logo" class="header__logo">
      <p class="header__logo-text">Air force Instituteof technology</p>
    </div>

    <div class="sidebar">
      <button class="nav-btn"></button>
    </div>
  </header>
  <section class="section-hero">
    <h1 class="hero__heading">
      <span class="hero__heading--main">Faculty of Computing</span>
      <span class="hero__heading--sub">Integrated Data Centre</span>
    </h1>
    <a href="#" class="hero__btn hero__btn--white hero__btn--animated">Discover our courses</a>
  </section>
  <section class="section-info">
    <h3 class="heading-3 heading-3--secondary">Latest News</h3>
    <div class="info">
      <img src="../../assets/img/college-3.jpg" alt="2021/2022 Admission List" class="info__img">
      <div class="info__details">
        <h4 class="heading-4 heading-4--info info__details-text">2021/2022 Admission List</h4>
        <p class="info__details-date">2 Jan, 2022</p>
      </div>

      <img src="../../assets/img/college-4.jpg" alt="NCC donates 200 computers to FC" class="info__img">
      <div class="info__details">
        <h4 class="heading-4 heading-4--info info__details-text">NCC donates 200 computers to FC</h4>
        <p class="info__details-date">3 Dec, 2021</p>
      </div>

      <img src="../../assets/img/college-5.jpg" alt="Dean Charges Students on the importance of Software Development"
        class="info__img">
      <div class="info__details">
        <h4 class="heading-4 heading-4--info info__details-text">Dean Charges Students on the importance of Software
          Development</h4>
        <p class="info__details-date">2 Nov, 2021</p>
      </div>
    </div>
    <a href="#" class="info__btn">See more &rarr;</a>
  </section>
  <section class="section-featured">
    <h1 class="featured__heading">Why Choose AFIT?</h1>
    <div class="feature">
      <svg class="feature__icon">
        <use xlink:href="../../assets/sprite.svg#icon-network"></use>
      </svg>
      <h4 class="heading-4 heading-4--dark">Network & Collaborations</h4>
      <p class="feature__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio
        necessitatibus pariatur voluptatibus.</p>
    </div>

    <div class="feature">
      <svg class="feature__icon">
        <use xlink:href="../../assets/sprite.svg#icon-code"></use>
      </svg>
      <h4 class="heading-4 heading-4--dark">Software Laboratory</h4>
      <p class="feature__text">Voluptatum mollitia quae. Vero ipsum sapiente molestias accusamus rerum sed a eligendi
        aut quia.</p>
    </div>

    <div class="feature">
      <svg class="feature__icon">
        <use xlink:href="../../assets/sprite.svg#icon-lab-flask"></use>
      </svg>
      <h4 class="heading-4 heading-4--dark">Digital Forensic Lab</h4>
      <p class="feature__text">Tenetur distinctio necessitatibus pariatur voluptatibus quidem consequatur harum.</p>
    </div>

    <div class="feature">
      <svg class="feature__icon">
        <use xlink:href="../../assets/sprite.svg#icon-light-bulb"></use>
      </svg>
      <h4 class="heading-4 heading-4--dark">Culture of Research</h4>
      <p class="feature__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio
        necessitatibus pariatur voluptatibus.</p>
    </div>

    <div class="feature">
      <svg class="feature__icon">
        <use xlink:href="../../assets/sprite.svg#icon-credit"></use>
      </svg>
      <h4 class="heading-4 heading-4--dark">Financial Aid</h4>
      <p class="feature__text">Voluptatum mollitia quae. Vero ipsum sapiente molestias accusamus rerum sed a eligendi
        aut quia.</p>
    </div>

    <div class="feature">
      <svg class="feature__icon">
        <use xlink:href="../../assets/sprite.svg#icon-lifebuoy"></use>
      </svg>
      <h4 class="heading-4 heading-4--dark">Commitment to Quality</h4>
      <p class="feature__text">Tenetur distinctio necessitatibus pariatur voluptatibus quidem consequatur harum.</p>
    </div>
  </section>
  <section class="section-colleges">
    <div class="college">
      <div class="college__heading">
        <h3 class="college__heading-subtitle">Apply to more than 23 areas of study across</h3>
        <h1 class="college__heading-title">2 Departments from Faculty of Computing</h1>
      </div>

      <div class="card">
        <div class="college__picture college__picture--front college__picture--1">
          <h3 class="college__picture--heading">Undergraduate</h3>
        </div>

        <div class="college__picture college__picture--back college__picture--back-1">
          <div class="college__picture--back-content">
            <h3 class="heading-3 heading-3--light">Undergraduate</h3>
            <p class="college__text">Offering a diverse suite of degrees and programs, our Undergraduate programmes
              prepares
              students to seek truth and knowledge in the academic endeavours.</p>
            <a href="#" class="btn-text college-cta">Learn more &rarr;</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="college__picture college__picture--front college__picture--2">
          <h3 class="college__picture--heading">Postgraduate</h3>
        </div>

        <div class="college__picture college__picture--back college__picture--back-2">
          <div class="college__picture--back-content">
            <h3 class="heading-3 heading-3--light">Postgraduate</h3>
            <p class="college__text">Offering a diverse suite of degrees and programs, our Postgraduate School prepares
              students to seek truth and knowledge in the academic endeavours.</p>
            <a href="#" class="btn-text college-cta">Learn more &rarr;</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="college__picture college__picture--front college__picture--3">
          <h3 class="college__picture--heading">Remedial</h3>
        </div>

        <div class="college__picture college__picture--back college__picture--back-3">
          <div class="college__picture--back-content">
            <h3 class="heading-3 heading-3--light">Remedial</h3>
            <p class="college__text">Offering a diverse suite of degrees and programs, our Remedial School prepares
              students to seek truth and knowledge in the academic endeavours.</p>
            <a href="#" class="btn-text college-cta">Learn more &rarr;</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="story__picture" role="img" aria-label="Dean Faculty of Computing">

  </div>
  <div class="story__content">
    <h2 class="heading-1 heading-1--dark">About Us</h2>
    <p class="paragraph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. A quod, officiis quas enim illum sequi distinctio
      reprehenderit debitis non maxime ducimus facere exercitationem eaque incidunt architecto. Dicta aperiam quasi
      repellendus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. A quod, officiis quas enim illum sequi
      distinctio
      reprehenderit debitis non maxime ducimus facere exercitationem eaque incidunt architecto.
    </p>
    <p class="paragraph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. A quod, officiis quas enim illum sequi distinctio
      reprehenderit debitis non maxime ducimus facere exercitationem eaque incidunt architecto. Dicta aperiam quasi
      repellendus.
    </p>
    <a href="#" class="story__btn story__btn-content">Read more &rarr;</a>
  </div>
  <div class="story__portal">
    <a href="#" class="story__btn story__btn-portal">
      <svg>
        <use xlink:href="../../assets/sprite.svg#icon-back-in-time"></use>
      </svg>
      <span>Apply</span>

    </a>
    <a href="#" class="story__btn story__btn-portal">
      <svg>
        <use xlink:href="../../assets/sprite.svg#icon-user"></use>
      </svg>
      <span>Student</span>

    </a>
    <a href="#" class="story__btn story__btn-portal">
      <svg>
        <use xlink:href="../../assets/sprite.svg#icon-user"></use>
      </svg>
      <span>Staff</span>

    </a>
    <a href="#" class="story__btn story__btn-portal">
      <svg>
        <use xlink:href="../../assets/sprite.svg#icon-book"></use>
      </svg>
      <span>Library</span>

    </a>
    <a href="#" class="story__btn story__btn-portal">
      <svg>
        <use xlink:href="../../assets/sprite.svg#icon-graduation-cap"></use>
      </svg>
      <span>Scholarship</span>

    </a>
    <a href="#" class="story__btn story__btn-portal">
      <svg>
        <use xlink:href="../../assets/sprite.svg#icon-news"></use>
      </svg>
      <span>Events</span>

    </a>
    <a href="#" class="story__btn story__btn-portal">
      <svg>
        <use xlink:href="../../assets/sprite.svg#icon-help-with-circle"></use>
      </svg>
      <span>FAQ</span>

    </a>
  </div>
  <section class="section-programme">
    <div class="card-programme">
      <h2 class="heading-2 heading-2--light programme__heading">ACCREDITED COURSES</h2>
      <div class="programme">
        <img src="../../assets/img/cyber.jpg" alt="" class="programme__img">
        <h5 class="programme__name">Cyber Security</h5>
        <div class="programme__type">
          <svg>
            <use xlink:href="../../assets/sprite.svg#icon-grid"></use>
          </svg>
          <p>B.Sc</p>
        </div>

        <div class="programme__duration">
          <svg>
            <use xlink:href="../../assets/sprite.svg#icon-back-in-time"></use>
          </svg>
          <p>4 years</p>
        </div>

        <div class="programme__lab">
          <svg>
            <use xlink:href="../../assets/sprite.svg#icon-lab-flask"></use>
          </svg>
          <p>Forensic Lab</p>
        </div>

        <div class="programme__research">
          <svg>
            <use xlink:href="../../assets/sprite.svg#icon-light-bulb"></use>
          </svg>
          <p>Research</p>
        </div>

        <button class="btn programme__btn">Apply now &darr;</button>
      </div>

      <div class="programme">
        <img src="../../assets/img/computer.jpg" alt="" class="programme__img">
        <h5 class="programme__name">Computer Science</h5>
        <div class="programme__type">
          <svg>
            <use xlink:href="../../assets/sprite.svg#icon-grid"></use>
          </svg>
          <p>B.Sc</p>
        </div>

        <div class="programme__duration">
          <svg>
            <use xlink:href="../../assets/sprite.svg#icon-back-in-time"></use>
          </svg>
          <p>4 years</p>
        </div>

        <div class="programme__lab">
          <svg>
            <use xlink:href="../../assets/sprite.svg#icon-code"></use>
          </svg>
          <p>Software Lab</p>
        </div>

        <div class="programme__research">
          <svg>
            <use xlink:href="../../assets/sprite.svg#icon-light-bulb"></use>
          </svg>
          <p>Research</p>
        </div>
        <button class="btn programme__btn">Apply now &darr;</button>
      </div>
    </div>
  </section>
  <section class="section-partners">
    <div class="partners">
      <img src="../../assets/img/AFITlogo.png" alt="Air Force Institute of Technology Logo" class="partners__img">
      <div class="partners__content">
        <p class="partners__content--subheading"><span>Faculty of computing</span> partners with <span>EFCC</span></p>
        <p class="partners__content--heading">For full&dash;scale access to forensic lab</p>
        <p class="paragraph partners__content--text">Are you a student? Find out how to enroll and learn</p>
      </div>
      <button class="partners__btn">GET MORE INFO</button>
    </div>
  </section>
  <footer class="section-footer">
    <div class="footers">
      <div class="footer">
        <p class="footer__heading">Connect with us</p>
        <ul class="footer__nav">
          <li class="footer__item">Nigerian Air Force Base, Kaduna, Kaduna State</li>
          <li class="footer__item">
            <svg>
              <use xlink:href="../../assets/sprite.svg#icon-light-bulb"></use>
            </svg>
            <span>+234 817 251 8147</span>
          </li>
          <li class="footer__item">
            <svg>
              <use xlink:href="../../assets/sprite.svg#icon-back-in-time"></use>
            </svg>
            <span>+234 817 251 8147</span>
          </li>
          <li class="footer__item">
            <svg>
              <use xlink:href="../../assets/sprite.svg#icon-mail"></use>
            </svg>
            <span>infofc@afit.edu.ng</span>
          </li>
        </ul>
      </div>

      <nav class="footer">
        <p class="footer__heading">Study</p>
        <ul class="footer__nav">
          <li class="footer__item"><a href="#" class="footer__link">Why Study at AFIT?</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Undergraduate Study</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Postgraduate Study</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Remedial Study</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Scholarship</a></li>
        </ul>
      </nav>

      <nav class="footer">
        <p class="footer__heading">Resources</p>
        <ul class="footer__nav">
          <li class="footer__item"><a href="#" class="footer__link">Student Handbook</a></li>
          <li class="footer__item"><a href="#" class="footer__link">FAQs</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Departments</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Admission</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Contact Us</a></li>
        </ul>
      </nav>

      <nav class="footer">
        <p class="footer__heading">Quick Links</p>
        <ul class="footer__nav">
          <li class="footer__item"><a href="#" class="footer__link">Library</a></li>
          <li class="footer__item"><a routerLink="/student/login" class="footer__link">Student Portal</a></li>
          <li class="footer__item"><a routerLink="/staff/login" class="footer__link">Staff Portal</a></li>
          <li class="footer__item"><a href="#" class="footer__link">School of Postgraduate</a></li>
          <li class="footer__item"><a href="#" class="footer__link">DIstance Learning</a></li>
        </ul>
      </nav>
    </div>
    <div class="copyright copyright--light">
      <p>Copyright &copy; 2022 by <a href="#" class="footer__link">Emmanuel Adedire</a> &
        FC-Team. All rights reserved.</p>
    </div>
  </footer>
</div>
